*
!composer.json
!composer.lock
!.env
!bin/**
!config/**
!src/**
!migrations/**
!deploy/Dockerfile
config/reference.php

**/._*
!package.json
!package-lock.json
!assets/**
!templates/**
!public/**
!docs/panel/**
!deploy/nginx.conf

!translations/**
!examples/**
